.vertical-centered {
	position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: 100%;
}
.o-hid {
	overflow: hidden;
}
.p-rel {
	position: relative;
}
.fullheight {
	height: 100vh;
}
.text-center {
	text-align: center;
}

//  floats
.pull-left {
	float: left;
}
.parent-max-width {
	max-width: 100%;
}
@media (min-width: @sm-breakpoint) {
	.pull-left-sm {
		float: left;
	}
	.pull-right-sm {
		float: right;
	}
}
